* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing_page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url(../assets/images/about/landscape100.png);
  background-size: cover;
  /* Makes the image cover the whole area */
  background-position: center;
  /* Keeps image centered */
  background-repeat: no-repeat;
}

.navigation {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

.navigation p {
  font-family: 'Alice', serif;
  color: #443126;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  margin-left: 30px;
}

.nav-toggle {
  display: none;
  font-size: 2rem;
  color: #112f3f;
  cursor: pointer;
}

.nav-links {
  display: flex;
  width: 100vw;
  justify-content: end;
  align-items: flex-start;
  gap: 20px;
}

.nav-links a {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  color: #112f3f;
  margin-right: 30px;

}

.nav-links a:hover {
  text-decoration: underline;
}

.about-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  padding: 50px;
  margin-bottom: 80px;
  margin-right: 50px;
}

.about {
  max-width: 600px;
  font-family: 'Alice', serif;
  font-size: 1.5rem;
  padding: 20px;
  border-radius: 10px;
  color: #112f3f;
  text-align: center;
}

.provided {
  display: flex;
  flex-direction: column;
  background-image: url(../assets/images/about/B_landscape.png);
}

.provided h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;

}

.provided_top {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 0;
}

.provided_bottom {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 0;
}

.topleft {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  line-height: 2;
}

.topleft h5 {
  font-family: 'Poppins', sans-serif;
  text-decoration: underline;
  font-size: 3rem;
  line-height: 2;
}

.topright img {
  height: 700px;
}

.bottom_right {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  line-height: 2;
}

.bottom_right h5 {
  font-family: 'Poppins', sans-serif;
  text-decoration: underline;
  font-size: 3rem;
  line-height: 2;
}

.bottom_left img {
  height: 700px;
}

.studio {
  background-image: url(../assets/images/about/W_landscape.png);
  font-family: 'Poppins', sans-serif;
  padding: 80px;
  text-align: center;
  line-height: 2;
  font-size: 1.5rem;
}


@media (max-width: 768px) {
  .navigation {
    flex-direction: column;
    justify-content: start;
  }

  .navigation p {
    font-size: 1.5rem;
  }

  .nav-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }


  .nav-toggle {
    display: block;
    padding: 0 20px;
    justify-content: flex-start;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .nav-links a {
    padding: 10px 0;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
  }

  .landing_page {
    background-image: url(../assets/images/about/about_page500.png);

  }

  .about-container {
    display: flex;
    align-items: start;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin-top: -20px;
  }

  .about {
    display: none;
  }

  /* .provided_top {
    flex-direction: column;
    margin: 0;
  } */
/* 
  .provided_bottom {
    flex-direction: column;
    margin: 0;
  } */

  .topleft {
    font-size: 1rem;
    margin-left: -60px;
    margin-right: -60px;
  }

  .topleft h5 {
    font-size: 1rem;
  }

  .topright img {
    height: 300px;
  }

  .bottom_right {
    margin-top: 10px;
    font-size: 1rem;
    margin-left: -60px;
    margin-right: -60px;
  }

  .bottom_right h5 {
    font-size: 1rem;
  }

  .bottom_left img {
    height: 300px;
  }

  .studio p {
    font-size: 1rem;
  }
}